@*@using PagedList.Core.Mvc
    @model PagedList.Core.IPagedList<Restaurant.Models.SanPham>
        @{
            int PageCurrent = ViewBag.CurrentPage;
            int PageNext = PageCurrent + 1;
            ViewData["Title"] = "Sản phẩm - " + ViewBag.CurrentPage;
            Layout = "~/Views/Shared/_Layout.cshtml";
        @model IEnumerable<Restaurant.Models.SanPham>

        }*@
@using PagedList.Core.Mvc
@model IEnumerable<Restaurant.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="hero_single inner_pages background-image" data-background="url(https://img.sachbaitap.com/picture/article/2017/0527/7e-0.jpeg)">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <h1>Our Shop</h1>
                        <p>Order food with home delivery or take away</p>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
        <div class="frame white"></div>
    </div>
    <!-- /hero_single -->

    <div class="filters_full clearfix">
        <div class="container">
            <div class="count_results">Showing 1–6 Of 12 Results</div>
            <a href="#0" class="open_filters btn_filters"><i class="icon_adjust-vert"></i></a>
            <div class="sort_select">
                <select name="sort" id="sort">
                    <option value="popularity" selected="selected">Sort by Popularity</option>
                    <option value="rating">Sort by Average rating</option>
                    <option value="date">Sort by newness</option>
                    <option value="price">Sort by Price: low to high</option>
                    <option value="price-desc">Sort by Price: high to low</option>
                </select>
            </div>
        </div>
    </div>
    <!-- /filters_full -->

    <div class="container margin_60_40">

        <div class="row">
            <aside class="col-lg-3" id="sidebar_fixed">
                <div class="filter_col">
                    <div class="inner_bt"><a href="#" class="open_filters"><i class="icon_close"></i></a></div>
                    <div class="filter_type version_2">
                        @using (Html.BeginForm("Index", "product", FormMethod.Get, new { @class = "form-inline" }))
                        {
                        <form role="search" id="searchform" method="get">
                            <input value="@ViewBag.Keyword" name="searchString" type="search" placeholder="Search..." />
                            <button type="submit" value="Tìm San Phẩm">@*<i class="icon_search"></i>*@Tìm kiếm</button>
                        </form>
                        }
                        

                    </div>
                    <div class="filter_type version_2">
                        <h4><a href="#filter_1" data-bs-toggle="collapse" class="opened">Danh mục</a></h4>
                        <div class="collapse show" id="filter_1">
                            <ul>
                                <li>
                                <i class="fa-solid fa-angle-right"></i>
                                   <a href="/Product">Tất cả sản phẩm</a>
                                <span class="checkmark"></span>
                                </li>
                                @foreach (var item in ViewBag.DanhMuc)
                                {
                                    <li>
                                        <i class="fa-solid fa-angle-right"></i>
                                        @Html.ActionLink((string)item.TenLoaiSanPham, "index", "product", new { id = item.MaLoaiSanPham })
                                        <span class="checkmark"></span>
                                    </li>
                                }


                            </ul>
                        </div>
                        <!-- /filter_type -->
                    </div>
                    <!-- /filter_type -->
                    <!--<div class="filter_type version_2">
                        <h4><a href="#filter_2" data-bs-toggle="collapse" class="opened">Rating</a></h4>
                        <div class="collapse show" id="filter_2">
                            <ul>
                                <li>
                                    <label class="container_check">
                                        Superb 9+ <small>06</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_check">
                                        Very Good 8+ <small>12</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_check">
                                        Good 7+ <small>17</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_check">
                                        Pleasant 6+ <small>43</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                    <!-- /filter_type -->
                    <!--<div class="filter_type version_2">
                        <h4><a href="#filter_4" data-bs-toggle="collapse" class="closed">Price</a></h4>
                        <div class="collapse" id="filter_4">
                            <ul>
                                <li>
                                    <label class="container_check">
                                        $0 — $50<small>11</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_check">
                                        $50 — $100<small>08</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_check">
                                        $100 — $150<small>05</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_check">
                                        $150 — $200<small>18</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                    <!-- /filter_type -->
                    <div class="buttons">
                        <a href="#0" class="btn_1">Filter</a> <a href="#0" class="btn_1 gray">Reset</a>
                    </div>
                </div>
            </aside>
            <!-- /col -->
            <div class="col-lg-9">
                <div class="row small-gutters">       
                    @if (Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {                        
                        <div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">

                            <div class="grid_item">
                                <figure>
                                    <span class="ribbon off">-@item.GiamGia%</span>
                                    <a href="Product/Details/@item.MaSanPham">
                                        <img class="img-fluid lazy" src="~/img/SanPham/@item.AnhSanPham" alt="">
                                        <div class="add_cart"><span class="btn_1">Thêm vào giỏ hàng</span></div>
                                    </a>
                                </figure>
                                <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
                                <a href="Product/Details/@item.MaSanPham">
                                    <h3>@item.TenSanPham</h3>
                                </a>
                                <div class="price_box">
                                    <span class="new_price">@String.Format("{0:n0}", item.Tien - (item.Tien * item.GiamGia / 100)) ₫ </span>
                                    <span class="old_price">
                                        @String.Format("{0:n0}", item.Tien) ₫  </span>
                                </div>
                            </div>
                            <!-- /grid_item -->
                        </div>
                        }
                    }
                    else
                    {
                    <center><h2>Không có sản phẩm</h2></center>
                    }

                    



                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <span class="ribbon off">-30%</span>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/2.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Avocado & Mango Salsa</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$10.00</span>
            <span class="old_price">$12.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <span class="ribbon off">-30%</span>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/3.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Braised Pork Chops</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$14.00</span>
            <span class="old_price">$18.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <span class="ribbon off">-30%</span>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/4.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Baked Potato Skins</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$10.00</span>
            <span class="old_price">$13.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/5.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Prime Rib</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$18.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/6.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Chicken with Garlic</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$20.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/7.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Terrific Turkey Chili</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$22.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                    <!--<div class="col-6 col-md-4 col-xl-3" data-cue="slideInUp">
    <div class="grid_item">
        <figure>
            <a href="shop-single.html">
                <img class="img-fluid lazy" src="img/menu_items/menu_items_placeholder.png" data-src="img/menu_items/8.jpg" alt="">
                <div class="add_cart"><span class="btn_1">Add to cart</span></div>
            </a>
        </figure>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
        <a href="shop-single.html">
            <h3>Summer Berry</h3>
        </a>
        <div class="price_box">
            <span class="new_price">$18.00</span>
        </div>
    </div>-->
                    <!-- /grid_item -->
                    <!--</div>-->
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- /row_item -->
                @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
                @* @Html.PagedListPager((IPagedList)ViewBag.SanPham, page => Url.Action("Index", "Product", new { page = page })))*@



                <div class="pagination_fg add_bottom_15" data-cue="slideInUp">
                    <a href="#">&laquo;</a>
                    @for (var p = 1; p <= ViewBag.PageSize; p++)
                    {
                        if (ViewBag.page == p)
                        {
                            <a class="btn active" href="@Url.Action("index", "product", new { page = p })">@p</a>
                        }
                        else
                        {
                            <a class="btn" href="@Url.Action("index", "product", new { page = p })">@p</a>
                        }
                    }
                    <a href="#">&raquo;</a>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->
