@model Restaurant.Models.HoaDon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div  class="container-fluid">
    <h1>Xóa hóa đơn</h1>
    <h3>Bạn có muốn xóa hóa đơn này không?</h3>
    <hr />
    <dl class="row">
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.MaHoaDon)
        </dt>
        <dd class="col-8">
            #@Html.DisplayFor(model => model.MaHoaDon)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.MaKhachHangNavigation.TenKhachHang)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.MaKhachHangNavigation.TenKhachHang)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class="col-8">
            @{ var tong = Model.TongTien;}
            @String.Format("{0:n0}", tong) ₫
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.MaThanhToan)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.MaThanhToanNavigation.TrangThaiThanhToan)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.MaVanChuyen)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.MaVanChuyenNavigation.TrangThaiVanChuyen)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHoaDon" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
