@model IEnumerable<Restaurant.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1>Quản lý khách hàng</h1>
    <hr />
    <table class=" display table table-striped " cellpadding="1"  id="table_id">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaKhachHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKhachHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>              
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MaKhachHang">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.MaKhachHang">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaKhachHang">Delete</a>                  
                </td>
            </tr>
            }
        </tbody>
    </table>
 </div>
