@model IEnumerable<Restaurant.Models.LoaiSanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h1>Quẩn lý loại sản phẩm </h1>
    <hr />
    <p>
        <a asp-action="Create">Thêm loại sản phẩm mới</a>
    </p>
    <table class=" display table table-striped " cellpadding="1" id="table_id">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaLoaiSanPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenLoaiSanPham)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoaiSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoaiSanPham)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MaLoaiSanPham">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.MaLoaiSanPham">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaLoaiSanPham">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>