@model IEnumerable<Restaurant.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h1>Quản lý sản phẩm</h1>
    <hr />
    <table  class=" display table table-striped " cellpadding="0" id="table_id">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaSanPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnhSanPham)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenSanPham)
                </th>                           
                <th>
                    @Html.DisplayNameFor(model => model.Tien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiamGia)
                </th>      
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongSanPham)
                </th>                        
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnhSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>                          
                <td>
                    @String.Format("{0:n0}", item.Tien) ₫                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiamGia)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongSanPham)
                </td>            
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MaSanPham">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.MaSanPham">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaSanPham">Delete</a>              
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
